@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
  --bg-color: black;
  --bg-planets-color: #f1f5f9;
  --bg-conslusion-color: #020617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: var(--bg-color);
  color: white;
  transition: all 0.3s ease-in-out;
}

.main {
  font-family: "Montserrat";
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: black;
}

header h1 {
  margin-left: 1em;
}

.head-container {
  display: flex;
  height: 600px;
  color: white;
  justify-content: center;
  align-items: center;
}

.head-container .background {
  height: 100%;
  width: 100%;
  background-image: url("./images/solar-system.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position: fixed;
  opacity: 0.5;
  z-index: 0;
}

.container-h1 {
  display: flex;
  position: absolute;
  z-index: 1;
  font-size: 48px;
}

.text-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.p-info {
  width: 50%;
  transition: all 0.3s ease-in-out;
}

.planet-info {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-planets-color);
  background: linear-gradient(var(--bg-color) 28px, var(--bg-conslusion-color) 77%);
  color: white;
}

.planet-info .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  height: auto;
  width: 70%;
  align-items: center;
  gap: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  transition: 0.3s ease-in-out;
}

.planet-info .items .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.planet-info .items .item img {
  height: 100px;
  margin-bottom: 1em;
  transition: all 0.3s ease-in-out;
}

.planet-info .items .item img:hover {
  scale: 1.1;
}

.conclusion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-conslusion-color);
  width: 100%;
  min-height: 300px;
}

.conclusion p {
  margin: 4em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: var(--bg-conslusion-color);
  margin: 0;
  padding: 0;
}